<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <title>About Us </title>
    <link rel="stylesheet" href="stylesheets/about.css"/>
  </head>
  <body>
    <div class="container">
        <h1>About Us</h1><br><br>
          <h3>About NTTF
Explore The Story Behind Us</h3>

<p>Dr Heinrich Hellstern, Director of HEKS (a Swiss NGO), through his noble gesture, set the ball rolling for opening a Technical Training institute at Nettur, Tellicherry (Kerala), in 1959. Nettur Technical Training Foundation was formed in 1963. NTTF is the repository of active technical support and knowledge transfer from Swiss industry and training institutions. The seed was sown 50 years ago - the decision to start tool and die-making courses at Tellicherry - has grown into a productive plant, surpassing even the most optimistic of expectations. The foundation has successfully developed itself and promoted technical training to suit the needs of the society, all across India.

            </p>

<h3>Core Centers</h3>

  <table style="width:100%">
  <tr>
    <th>Course name</th>
    <th>Centers</th>
    <th>Pin Code</th>

  </tr>
  <tr>
    <td>NEC</td>
    <td>Electronic City Center</td>
    <td>560100</td>
 </tr>
  <tr>
    <td>BTC</td>
    <td>Bengaluru Training Center</td>
    <td>560058</td>

  </tr>
  <tr>
    <td>RNTC</td>
    <td>Jamshedpur golmuri Center</td>
    <td>831009</td>

  </tr>
  <tr>
    <td>TTC</td>
    <td>Tellicherry Training Center</td>
    <td>670105</td>
    </tr>
</table>
</div>

  </body>

              <div class="btn-group btn-group-justified">

      <a href="/home" class="btn btn-info" role="button">GO BACK</a>

    </div>
</html>
