<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
  	<link rel="stylesheet" type="text/css" href="/st/table1_bio.css">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h3>BIO METRIC ATTENDANCE</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Student name</th>
<th class="text-left">token number</th>
	<th class="text-left">section</th>
	<th class="text-left">course</th>
	<th class="text-left">year</th>
	<th class="text-left">centre</th>
	<th class="text-left">date</th>
	<th class="text-left">in time</th>
	<th class="text-left">out time</th>
		<th class="text-left">hours</th>



</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left"></td>
<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>

</tr>
<tr>
	<td class="text-left"></td>
	<td class="text-left"></td>
		<td class="text-left"></td>
		<td class="text-left"></td>
		<td class="text-left"></td>
		<td class="text-left"></td>
		<td class="text-left"></td>
		<td class="text-left"></td>
		<td class="text-left"></td>
		<td class="text-left"></td>
</tr>
<tr>
<td class="text-left"></td>
<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
</tr>
<tr>
<td class="text-left"></td>
<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
	<td class="text-left"></td>
</tr>

</tbody>
</table>
 </body>
